body {
  background-size: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-45deg, rgb(60, 105, 143), rgb(199, 67, 211), #23A6D5, rgb(13, 123, 138)) no-repeat;
}

.nav-wrapper{
  background: linear-gradient(-45deg, rgb(60, 105, 143), rgb(199, 67, 211), #23A6D5, rgb(13, 123, 138));
  position: relative;
  animation: change 10s ease-in-out infinite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.credit-card {
  animation: float 3s ease-in-out infinite;
}
.input-field>label{
  color: rgb(0, 0, 0);
}
textarea.materialze-textarea {
  border-bottom: 1px solid red;
}

@keyframes change{
  0%{
    background-position: 0 50%; 
  }
  50%{
    background-position: 100% 50%; 
  }
  100%{
    background-position: 0 50%; 
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}